.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2;
    padding: 4px 2px;
}
.flex-1{
    flex: 1;
}
.rounded-full{
    border-radius: 35px ;
    -webkit-border-radius: 35px ;
    -moz-border-radius: 35px ;
    -ms-border-radius: 35px ;
    -o-border-radius: 35px ;
}
.border{
    border: 1px solid;
}
.border-gray-300{
    border-color: gray;
}